.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3b3c36; 
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logoVIT {
  color: white;
}

.logoBlockchain {
  color: #0fae96;
}

/* Desktop Menu */
.desktopMenu {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Desktop links */
.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex: 1;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

/* Login button in desktop view */
.login a {
  color: white;
  text-decoration: none;
  background-color: #0fae96;
  padding: 10px 25px;
  border-radius: 5px;
}

.login a:hover {
  background-color: #777;
}

/* Hamburger button (for mobile view) */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
}

/* Fullscreen menu styles */
.fullscreenMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.fullscreenMenu.showMenu {
  display: flex;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.fullscreenMenu a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 10px 0;
}

.fullscreenMenu a:hover {
  text-decoration: underline;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 5rem;
  cursor: pointer;
  margin-top: 20px;
}

.closeButton:hover {
  color: #aaa;
}

/* Media queries */
@media (max-width: 768px) {
  .desktopMenu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
